body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
.error-type {
  font-size: 30px;
  font-style: bolder;
}
.general-error-container {
  display: flex;
  width: 300px;
  height: 600px;
  justify-content: center;
}
.error-text {
  font-size: 20px;
  color: snow;
}
