body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: 15px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.center-button {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.center-button:visited {
    background-color: gray;
    color: white;
}
.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

main img {
    min-height: 270px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
h1 {
    text-align: justify;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.scrapyard-div-h1 {
    text-align: center;
}
p {
    font-size: 24px;
}

.info {
    justify-content: center;
    width: 1100px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
}

article {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 40px;
}
.scrapyard-main {
    font: Arial;
}
.scrapyard-div {
    border: black 2px solid;
    border-radius: 2%;
    background-color: gold;
    width: 400px;
}
.scrapyard-div::before {
    content: url(https://lms.syam-ok.unm.ac.id/pluginfile.php/1233771/course/overviewfiles/B.png);
    width: 30px;
    height: 15px;
    display: block;
    margin-bottom: 10px;
}
.article-but {
    text-decoration: none;
    background-color: #133AAC;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

footer {
    background-color: #5FC0EC;
    padding: 40px;
    display: flex;
}

footer a {
    margin-right: 60px;
}

footer p {
    font-size: 24px;
}
